.song-list__see-more {
  font-weight: 700;
  margin-left: 25px;
  margin-top: 20px;
  cursor: pointer;
}

.song-list__see-more:hover {
  text-decoration: underline;
}

@media (max-width: 480px) {
  .song-item {
    padding: 10px 16px;
  }
}
